HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## CDC
# CDC (Debezium runtime-specific)
ResourceManagementSystem/src/main/java/com/cdc/

# Local project bootstrap entities
ResourceManagementSystem/src/main/java/com/entity/Project.java
ResourceManagementSystem/src/main/java/com/repo/ProjectRepository.java
/data/
